body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: orange;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #ffffff;
    width: 60px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon-menu ul li {
    margin: 15px 0;
}

.icon-menu ul li a img {
    width: 30px;
    height: auto;
}

.main-content {
    flex: 1;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.messages-container {
    display: flex;
}

.message-list {
    width: 30%;
    background-color: #ffffff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-list h3 {
    margin-top: 0;
}

.message-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.message-item a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.message-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-details {
    display: inline-block;
}

.chat-window {
    width: 70%;
    background-color: orange;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-window h3 {
    margin-top: 0;
}

.chat-messages {
    margin-bottom: 20px;
}

.message {
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
}

.sender {
    font-weight: bold;
}

.message-form {
    display: flex;
    align-items: center;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.send-button {
    padding: 10px 20px;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #007bb5;
}

.side-menu {
    background-color: #ffffff;
    width: 200px;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #ffffff;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}